@media ((min-width:0px) and (max-width: 480px)) {
    .projects_sidebar_one {
        display: none;
    }

    .projects_wrapper_desktop {
        display: none;
    }
}

@media ((min-width:481px) and (max-width: 767px)) {
    .projects_sidebar_one {
        display: none;
    }

    .projects_wrapper_desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .projects_sidebar_one {
        display: none;
    }

    .projects_wrapper_desktop {
        display: none;
    }
}

@media (min-width: 1000px) and (max-width: 1280px) {
    
}

@media (min-width: 1281px) {
    .projects_sidebar_one {
        display: flex;
    }
    .projects_wrapper_desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
        padding: 0rem 4rem;
        /* border: 2px solid black; */
    }
    .projects_parent_desktop {
        /* border: 2px solid black; */
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: fit-content;
    }
    .projects_desktop {
        /* border: 2px solid red; */
        width: 100%;
        padding: 2rem 0rem;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .project_big_desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 780px;
        height: fit-content;
        /* border: 3px solid black; */
        padding: 1rem;
        box-shadow: 0px 0px 30px 2px rgba(50, 50, 50, 0.2);
        border-radius: 10px;
        /* background: linear-gradient(to top left, rgba(26, 140, 255, 0.1) 0%, rgba(230, 156, 156, 0.1) 100%); */
        cursor: pointer;
        transition: all 1s ease-in-out;
        
    }
    
    .project_medium_desktop {
        width: 408px;
        height: fit-content;
        /* border: 2px solid black; */
        box-shadow: 0px 0px 30px 2px rgba(50, 50, 50, 0.2);
        border-radius: 10px;
        padding: 1rem;
        /* background: linear-gradient(to top left, rgba(26, 140, 255, 0.1) 0%, rgba(230, 156, 156, 0.1) 100%); */
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    .project_small_desktop {
        width: 308px;
        height: fit-content;
        /* border: 1px solid black; */
        box-shadow: 0px 0px 30px 2px rgba(50, 50, 50, 0.2);
        border-radius: 10px;
        padding: 1rem;
        /* background: linear-gradient(to top left, rgba(26, 140, 255, 0.1) 0%, rgba(230, 156, 156, 0.1) 100%); */
        cursor: pointer;
        transition: box-shadow .2s ease-in-out;
    }

    .project_big_desktop:hover {
        /* border: 2px solid rgba(26, 140, 255, 0.5); */
        box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);
    }
    .project_medium_desktop:hover {
        /* border: 2px solid rgba(26, 140, 255, 0.5); */
        box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);
    }
    .project_small_desktop:hover {
        /* border: 2px solid rgba(26, 140, 255, 0.5); */
        box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);
    }

    .project_videos_desktop {
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
        height: fit-content;
    }

    .project_tag_desktop {
        display: flex;
        width: 100%;
        /* border: 2px solid black; */
        margin-top: 2rem;
        overflow: hidden;
        height: fit-content;
    }

    .tag_big_span_desktop {
        background-color: white;
        padding: .5rem 1rem;
        border-radius: .3rem;
        color: #000D15;
        /* border: 2px solid black; */
        margin-left: 1.2rem;
        font-weight: 500;
        font-size: 12px;
        text-shadow: 0px 0px 1px #000D15;
        height: fit-content;
    }
    .tag_medium_span_desktop {
        background-color: white;
        padding: .4rem .8rem;
        border-radius: .2rem;
        color: #000D15;
        /* border: 2px solid black; */
        margin-left: .9rem;
        font-weight: 500;
        font-size: 9px;
        text-shadow: 0px 0px 1px #000D15;
        height: fit-content;
    }
    .notActive {
        max-height: 0;
        overflow: hidden;
    }
    .active {
        max-height: 400px;
        overflow: hidden;
    }

}

.projects_container {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 25%, rgba(245, 245, 245, 1) 50%, rgba(240, 240, 240, 1) 75%, rgba(240, 240, 240, 1) 100%);
}