@media ((min-width:0px) and (max-width: 480px)) {}

@media ((min-width:481px) and (max-width: 767px)) {}

@media (min-width: 768px) and (max-width: 1000px) {}

@media (min-width: 1000px) and (max-width: 1280px) {
    .scrollmouse {
        height: 48px;
        width: 48px;
        animation: drag 5s linear infinite;
    }
}

@media (min-width: 1281px) {
    .scrollmouse {
        height: 64px;
        width: 64px;
        animation: drag 5s linear infinite;
    }
}

@keyframes drag {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }

    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(25%);
    }
    50% {
        transform: translateY(50%);
    }
    75% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(0);
    }
    
}