@media ((min-width:0px) and (max-width: 480px)) {
    .tml_sidebar_one {
        display: none;
    }

    .tml_sidebar_two {
        display: none;
    }

    .tml_text_desktop {
        display: none;
    }


    .tml_timeline_desktop {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

@media ((min-width:481px) and (max-width: 767px)) {
    .tml_sidebar_one {
        display: none;
    }

    .tml_sidebar_two {
        display: none;
    }

    .tml_text_desktop {
        display: none;
    }

    .tml_timeline_desktop {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1000px) {
    .tml_sidebar_one {
        display: none;
    }

    .tml_sidebar_two {
        display: none;
    }

    .tml_text_desktop {
        display: none;
    }

    
    .tml_timeline_desktop {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1000px) and (max-width: 1280px) {
    .tml_sidebar_one {
        display: flex;
    }

    .tml_sidebar_two {
        display: flex;
    }

    .tml_text_desktop {
        display: flex;
    }

    .tml_timeline_desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    

}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1281px) {
    .tml_sidebar_one {
        display: flex;
    }

    .tml_sidebar_two {
        display: flex;
    }

    .tml_text_desktop {
        display: flex;
    }

    .tml_timeline_desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .timeline_parent_desktop {
        margin-top: 4.3rem;
    }

    .timeline_years_desktop {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        letter-spacing: .8rem;
        font-size: 1.2rem;
        text-shadow: 0px 0px 5px rgba(26, 140, 255, .3);
        margin-right: 4rem;
        height: 2rem;
        width: fit-content;
        color: rgba(26, 140, 255,1);
        /* border: 2px solid white; */
    }

    .timeline_border_desktop {
        padding: 1px;
        border-radius: 0.3rem;
        background: linear-gradient(to bottom,rgba(255, 255, 255, .2),rgba(255, 255, 255, .6),rgba(255, 255, 255, .8),rgba(255,255,255,1),rgba(255, 255, 255,.8),rgba(255, 255, 255, .6) ,rgba(255, 255, 255, .4),rgba(255, 255, 255, .2));
    }

    .timeline_months_desktop {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        letter-spacing: .5rem;
        font-size: 1.2rem;
        text-shadow: 0px 0px 5px rgba(255, 255, 255, .3);
        margin-left: 2rem;
        height: 2rem;
        width: fit-content;
        /* border: 2px solid white */
        
    }

    .timeline_content_parent_desktop{
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .5);
        border: 1px solid rgba(255,255,255,1);
        height: 375px;
        width: 500px;
        margin-left: 8rem;
    }

    .timeline_content_desktop::-webkit-scrollbar{
        display: none;
    }

    .timeline_content_desktop {
        height: 100%;
        width: 100%;
    }
    .timeline_project_desktop {
       /* border: 2px solid red; */
       padding: 2rem;
    }
    .project_title_desktop {
        /* border: 2px solid white; */
        /* padding: .5rem; */
        font-weight:600;
        letter-spacing: .2rem;
        font-size: 1.2rem;
        color: #E69C9C;
        text-shadow: 0px 0px 2px #E69C9C;
    }

    .project_description_desktop {
        /* border: 2px solid white; */
        /* padding: .5rem; */
        font-weight: 200;
        font-size: 14px;
        letter-spacing: 1px;

    }

    .project_text_desktop {
        font-weight: 400;
        font-size: 14px;
        margin-right: 4px;
        
    }

    .project_tags_desktop {
        font-weight: 200;
        font-size: 14px;
        padding: 4px 6px;
        margin-left: 6px;
        letter-spacing: 1.5px;
        background-color: rgba(23,27,29,.7);
    }

    .timeline_content_view {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.3);
        flex-shrink: 0;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(-100%);
    }

    .scroll_text_dekstop {
        color: white;
        font-weight: 700;
        letter-spacing: .5rem;
        font-size: .8rem;
    }

    .scroll_button_desktop {
        color: #1a8cff;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0.5rem 1rem;
        font-weight: 700;
        letter-spacing: 0.1em;
        border-radius: 0.375rem;
        font-size: .8rem;
    }

    
}

/* --------------------------------------------------------------------------------------------------------------- */



.tml_text_desktop {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: .8rem;
    font-weight: 300;
    width: fit-content;
    text-shadow: 0px 0px 2px #E69C9C;
    transition: all .5s linear;
}


.tml_stars_container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom right, #000D15, #000A10, #030C11, #020B11, #020B11, #020B11, #020B11, #020B11, #020A10, #000000);
}


.page_transition_TML {
    animation: animatePage_TML 1s forwards;
}

.tml_switch_desktop {
    width: 120px;
    height: 40px;
    box-shadow: inset rgba(0, 0, 0, .4) 0px 0px 20px 10px;
    transition: all .3s ease-in-out;
}

.tml_inner_switch_desktop {
    width: 24px;
    height: 24px;
    transition: all .3s ease-in-out;
}



@keyframes animatePage_TML {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}