@media ((min-width:0px) and (max-width: 480px)) {
    .nrm_sidebar_one {
        display: none;
    }

    .nrm_sidebar_two {
        display: none;
    }

    .nrm_text_desktop {
        display: none;
    }

    .nrm_icons_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .icons_parent_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icons_div_mobile {
        /* border: 2px solid white; */
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .invisible_icon_mobile {
        height: 80px;
        width: 80px;
    }

    .nrm_icons_desktop {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

@media ((min-width:481px) and (max-width: 767px)) {
    .nrm_sidebar_one {
        display: none;
    }

    .nrm_sidebar_two {
        display: none;
    }
    .nrm_text_desktop {
        display: none;
    }

    .nrm_icons_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .icons_parent_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icons_div_mobile {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .invisible_icon_mobile {
        height: 80px;
        width: 80px;
    }

    .nrm_icons_desktop {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1000px) {
    .nrm_sidebar_one {
        display: none;
    }

    .nrm_sidebar_two {
        display: none;
    }

    .nrm_text_desktop {
        display: none;
    }

    .nrm_icons_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .icons_parent_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icons_div_mobile {
        /* border: 2px solid white; */
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .invisible_icon_mobile {
        height: 80px;
        width: 80px;
    }

    

    .nrm_icons_desktop {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1000px) and (max-width: 1280px) {
    .nrm_sidebar_one {
        display: flex;
    }
    .nrm_sidebar_two {
        display: flex;
    }
    .nrm_text_desktop {
        display: flex;
    }
    .nrm_icons_desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .icons_parent_desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* border: 2px solid white; */
    }

    

    .invisible_icon_desktop {
        height: 100px;
        width: 100px;
    }

    .nrm_icons_mobile {
        display: none;
    }

    .icons_div_desktop {
        /* border: 2px solid white; */
        width: 80%;
        height: fit-content;
        padding: 1rem;
        justify-content: space-around;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .nrm_icons_mobile {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1281px) {
    .nrm_sidebar_one{
        display: flex;
    }
    .nrm_sidebar_two{
        display: flex;
    }
    .nrm_text_desktop {
        display: flex;
    }
    .nrm_icons_desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .icons_parent_desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .invisible_icon_desktop {
        height: 100px;
        width: 100px;
    }
    
    .nrm_icons_mobile {
        display: none;
    }

    .icons_div_desktop {
        width: 80%;
        height: fit-content;
        padding: 1rem;
        justify-content: space-around;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
    
    
}

/* --------------------------------------------------------------------------------------------------------------- */



.nrm_text_desktop {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: .8rem;
    font-weight: 300;
    width: fit-content;
    text-shadow: 0px 0px 2px #1a8cff;
}

.nrm_text_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    font-weight: 200;
    width: fit-content;
    color: #1a8cff;
    text-shadow: 0px 0px 2px #1a8cff;
}

.nrm_stars_container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom right, #000D15, #000A10, #030C11, #020B11, #020B11, #020B11, #020B11, #020B11, #020A10, #000000);
}

.icon_desktop {
    height: fit-content;
    width: fit-content;
    transition: all .5s ease-in-out;
    cursor: pointer;
    transform: scale(.5);
    opacity: 0;
}

.icon_desktop:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}

.appear{
    transform: scale(1);
    opacity: 1;
}

.page_transition_NRM {
    animation: animatePage_NRM 1s forwards;
}

.switch_desktop {
    width: 120px;
    height: 40px;
    box-shadow: inset rgba(0, 0, 0, .4) 0px 0px 20px 10px;
    transition: all .3s ease-in-out;
}

.inner_switch_desktop {
    width: 24px;
    height: 24px;
    transition: all .3s ease-in-out;
}

.switch_mobile {
    width: 60px;
    height: 20px;
    box-shadow: inset rgba(0, 0, 0, 1) 0px 0px 20px 20px;
    transition: all .3s ease-in-out;
}

.inner_switch_mobile {
    width: 12px;
    height: 12px;
    transition: all .3s ease-in-out;
}

@keyframes animatePage_NRM {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
